body {
	font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	font-size: 14px;
}

header {
	background: #1976d2;
    color: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.posRel {
	position: relative;
}

header h1 {
	font-size: 16px;
	padding: 15px 16px;
	display: inline-block;
}

.headTxt {
	position: relative;
    top: -10px;
    padding-left: 10px;
}

header h1 a:hover {
	color: #eee;
	text-decoration: none;
}

header h1 a {
	color: #fff;
}

.loginArea,
.signUpArea {
	padding-top: 120px;
}

.wrapInner {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.compCard {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	padding: 24px;
}

.compCardloading {
	display: block;
    position: relative;
    border-radius: 2px;
}

.loginArea .compCardWidth {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 24px 40px;
}

.signUpArea .compCardWidth {
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 24px 40px;
}

.compCardloading h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.form-control,
.input-group-addon {
	border-radius: 0;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.btn {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	border-radius: 0;
	position: relative;
	border: none;
}

.btn-primary {
	background: #1976d2;
}

.signUp {
	margin-bottom: 50px;
}

.signUp span {
	padding-right: 5px;
}

.alert-danger {
	background: #DD2C00;
	color: #fff;
	border: none;
}

.alert {
	border-radius: 0;
}

.hidden {
	display: none;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:40px; 
}
input 				{
  font-size: 14px;
  padding:10px 10px 10px 0;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-10px;
  font-size:14px;
  color:#1976d2;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; top: 2px;}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1976d2; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

h1 .logo {
	font-size: 42px;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#1976d2; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#1976d2; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#1976d2; }
  to 	{ width:0; background:transparent; }
}

.bBotRed {
	border-bottom: 1px solid #DD2C00;
}

.jq-toast-wrap.bottom-left {
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.jq-icon-error {
    border-radius: 0;
    color: #fff;
    background: #DD2C00;
    padding: 15px;
}

.jq-icon-success {
	background-image: none;
	background-color: #4CAF50;
    border-color: #d6e9c6;
    border-radius: 0;
    padding: 15px;
    color: #fff;
}

.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}

.ripple {
	cursor: pointer;
	position: relative;
}

.rightHead {
	float: right;
    height: 14px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.logout {
	color: #fff;
}

.logout:hover {
	color: #eee;
}

.form-control {
	font-size: 14px;
}

.mobileNo {
	height: 38px;
}

.btn-primary:focus {
	box-shadow: none;
}


/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

.loadingForm {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 140px;
}

.padLeft0 {
	padding-left: 0;
}

.close-jq-toast-single,
.jq-toast-heading {
	display: none;
}

.table thead {
	background: #1976d2;
	color: #fff;
}

.paginate_button {
	background: #1976d2;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.paginate_button:hover {
	color: #fff;
	text-decoration: none;
	opacity: .7;
}

.transactionWrap h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.upperFirst {
	text-transform:capitalize;
}

.reqLoadAmount,
.reqUser,
.modal-title {
	font-weight: bold;
}

.loadingForm, .transactionWrap {
	display: none;
}

.fsize12 {
	font-size: 12px;
}

.modal-body p {
	line-height: 1.4;
}

.modal-dialog {
    max-width: 340px;
}

.modal-content {
	border-radius: 0;
}

.dashNav {
	display: inline-block;
    float: right;
    z-index: 99;
    font-size: 14px;
}

.table td, .table th {
	vertical-align: middle !important;
}

.signUpArea .compCardHeader h3,
.loginArea .compCardHeader h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.contentArea {
	padding: 100px 20px 0 275px;
}

.loadReqArea h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.loadReqArea table tr th:last-child,
.loadReqArea table tr td:last-child {
	text-align: center;
}

.loadReqArea table tr:nth-child(even) {
    background: #f3f3f3;
}

.loadReqArea table tr:hover {
	background: #dedede;
}


.loadReqArea table thead tr:hover {
	background: #1976d2;
}

.loadReqArea .btnComplete {
	font-size: 12px;
	position: relative;
}

.table thead th {
	border-bottom: none;
}

table.dataTable {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

@media only screen and (max-width : 1220px) and (min-width: 758px) {
	.rightHead {
		right: 15px;
	}
}

@media only screen and (max-width : 767px) {
	.dashNav {
	    position: absolute;
	    top: 120px;
	    right: 15px;
	}

	.compCardloading > div {
	    padding-top: 50px;
	}

	.transactionWrap > div {
		padding-top: 30px;
	}

	.dataTables_info {
		margin-bottom: 25px;
		padding-top: 0 !important;
	}

	table.dataTable {
		width: calc(100% - 30px);
		margin: 0 auto;
	}

	.backBtn {
		display: block;
		font-size: 30px;
		position: absolute;
		height: 31px;
		top: 0;
		left: 15px;
		bottom: 0;
		margin: auto;
	}

	.loadingForm {
	    max-width: 100%;
	}

	.dashboardArea .compCard {
	    box-shadow: none;
	    padding: 24px;
	}

	.mobileMenu {
		display: inline-block;
		color: #fff;
		position: absolute;
		top: 12px;
		right: 15px;
		font-size: 35px;
		margin: 0;
		padding: 0;
		cursor: pointer;
	}

	.mobileMenu:hover {
		color: #fff;
	}

	.mobileMenu::after {
		display: none;
	}

	.pad0 {
		padding: 0;
	}

	.pad15 {
		padding: 0 15px;
	}

	.loadingForm {
		padding-top: 62px;
	}
	
	.loginForm h3,
	.loadingForm h3,
	.signUpForm h3 {
		font-size: 16px !important;
	    color: #fff;
	    margin-bottom: 30px;
	    padding: 15px;
	    background: #1976d2;
	}

	.dashboardArea .compCard {
		padding: 0;
	}

	.signUpForm .row {
		margin: 0;
	}

	.compCardHeader .row {
		margin: 0 15px;
	}

	.signUpForm .row div {
		padding: 0;
	}


	.loginArea .compCardWidth,
	.signUpArea .compCardWidth {
		padding: 0;
	}

	.loginArea .compCard,
	.signUpArea .compCard {
		padding: 0;
		box-shadow: none;
		margin-bottom: 50px;
	}

	.loginArea, .signUpArea {
		padding-top: 62px;
	}

	.loginArea .compCardloading h3,
	.signUpArea .compCardloading h3  {
	  	font-size: 16px;
	    color: #fff;
	    margin-bottom: 30px;
	    padding: 15px;
	    background: #1976d2;
	}

	input {
		width: 100%;
	}

	.group {
	    margin-bottom: 25px;
	}

	.logout {
		color: #000;
		font-size: 14px;
	}

	.dropdown-menu {
		border-radius: 0;
		box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
		left: -9px !important;
	}

	.menuUserName {
	    font-weight: bold;
	    padding: 5px 10px 5px;
	}

	.dropdown-menu .dropdown-item {
	    padding-left: 10px;
	}

	header h1 {
	    padding: 10px 85px 10px 65px;
	    display: block;
	    text-align: center;
	}

	.loginForm .group {
		padding: 0 15px;
	}

	.compCardloading .row {
		margin: 0;
	}

	.bar {
	    width: 100%;
	}
	.loginForm label {
		left: 15px;
	}

	.loginForm .signUp {
		margin-left: 15px;
		width: calc(100% - 15px);
	}

	.loginArea .btnLogin {
		margin: 0 15px;
		width: calc(100% - 30px);
	}

	.loginArea .compCardWidth {
	    width: 100%;
	    margin: 0;
	    max-width: 100%;
	}

	.signUpArea .compCardWidth {
		max-width: 100%;
	}

	.loginArea .alert {
		margin: 0 15px;
	}

	.signUp {
	    margin-bottom: 20px;
	}

	.rightHead {
		display: none;
	}
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #000;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
    margin-top: 72px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0px 0 20px;
}

#sidebar ul p {
    padding: 10px;
    background: rgba(0,0,0,.32);
    color: hsla(0,0%,100%,.87);
}

#sidebar ul li {
	border-bottom: 1px solid rgba(0,0,0,.06);
	position: relative;
}

.requestSearch {
	position: absolute;
	max-width: 200px;
	width: 100%;
	right: 20px;
	top: 88px;
}

.loadReqCount {
	position: absolute;
	right: 10px;
	display: none;
	height: 17px;
   	top: 0;
   	bottom: 0;
   	margin: auto;
}

#sidebar ul li a {
    padding: 16px;
    font-size: 1.1em;
    display: block;
    color: #000;
}
#sidebar ul li a:hover {
    color: #1976d2;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    font-weight: 600;
}

a[data-toggle="collapse"] {
    position: relative;
}

.adminBody .rightHead {
	right: 15px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.adminBody {
	background: #fafafa;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 767px) {
    #sidebar {
        margin-left: -250px;
        margin-top: 62px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
